@model newapp.Models.YouTubeMovieData
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Poor man's Netflix</title>

<h1 class="display-3 text-center">Netfix dla biedaków</h1>
<div class="container">
       <div class="row">


@foreach (var item in @Model.items)
{
 
    <div class="col-md-4">
    <a href="@item.YoutubeUrl"><img src="@item.snippet.thumbnails.Medium.url"></a>
    <h2>@item.snippet.title</h2>
    <p>@item.snippet.description</p>
    <p><a class="btn btn-primary btn-lg" href="@item.YoutubeUrl" role="button">Oglądaj</a>
    </p>
    
    </div>
    //<br><br>
}

<div class="col-md-4">
    <h2>Koniec strony</h2><br><br>
    <p>@Html.ActionLink("Następna strona", "Index", "Movies", new {nextPageToken = @Model.nextPageToken}, new {@class="btn btn-primary btn-lg"})</p>
    </div>

</div>


</div>


